/* Style the header */
	header {
		background-image: url("images/bg_2.jpg");
		background-repeat:no-repeat;
		background-size:cover;
		height:650px;
		padding: 150px;
		text-align: left;
		}

		/*Styling the contact section */
	#section1 {
		font-family: Times new Roman;
		width: 800px;
		height: 850px;
		left: 250px;
		background-color:pink;
		margin: none;
		padding: 20px;
		top: 80px;
		bottom: 20px;
		position: relative;
		margin-bottom: 20px;
		font-size: 20px;
	}

	.container1 {
	  padding: 16px;
	  text-align:center;
	}
	/* Full-width input fields */
		input[type=email],input[type=text], input[type=password],input[type=number], input[type=tel]{
		  width: 35%;
		  padding: 15px;
		  margin: 5px 0 22px 0;
		  display: inline-block;
		  border: none;
		  background: #f1f1f1;
		}

		input[type=email]:focus, input[type=password]:focus, input[type=number]:focus, input[type=range]:focus,input[type=text]:focus {
		  background-color: #ddd;
		  outline: none;
		}

		/* Overwrite default styles of hr */
		hr {
		  border: 1px solid #f1f1f1;
		  margin-bottom: 25px;
		}

		/* Set a style for the submit button */
		.registerbtn {
		  background-color: #4CAF50;
		  color: white;
		  padding: 16px 20px;
		  margin: 8px 0;
		  border: none;
		  cursor: pointer;
		  width: 35%;
		  opacity: 0.9;
		}

		.registerbtn:hover {
		  opacity: 1;
		}

		/* Add a blue text color to links */
		a {
		  color: dodgerblue;
		}

		/* Set a grey background color and center the text of the "sign in" section */
		.signin {
		  background-color: #f1f1f1;
		  text-align: center;
		}

	/* Create two equal columns that floats next to each other 
		.column {
		  float: center;
		  width: 50%;
		  padding: 10px;
		}

		/* Clear floats after the columns 
		.row:after {
		  content: "";
		  display: table;
		  clear: both;
		}

				<div class="row">
  					<div class="column">
  						<label for="age"><b>Age: </b></label>
  					</div>
  					<div class="column">
    					<input type="number" size="6" name="age" min="18" max="99" value="21"><br>
    				</div>
    			</div>
    			*/